

.extra h4{
    font-size: 32px;
    margin-left: 46px;
    margin-bottom: 35px;
    font-weight: 300;
    color: rgb(54 54 54);
    
}

.extra-ops button{
    width: 1158px;
    height: 63px;
    background-color: rgb(255 255 255);
    border: 1px solid gray;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 5px;
    font-size: 19px;
    text-align: left;
    color: #1c1c1c;
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extra-ops button i{
    color: gray;
}

